---
import Avatar from "./Avatar";
import SiteLogo from "./SiteLogo.astro";
import ThemeIcon from "./ThemeIcon";
---

<nav
	transition:persist
	class="flex h-full items-center justify-between bg-navbar xl:flex-col"
>
	<a href="/">
		<SiteLogo />
	</a>
	<ThemeIcon client:only="react" />
	<div
		class="flex items-center self-stretch border-l border-l-white border-opacity-20 xl:border-l-0 xl:border-t xl:border-t-white xl:border-opacity-20 xl:px-0"
	>
		<Avatar client:only="react" />
	</div>
</nav>
