---
import { Dot } from "lucide-react";

type Props = {
	status: string;
};

const { status } = Astro.props;
---

<div
	class:list={{
		"bg-green-700": status === "paid",
		"bg-yellow-700": status === "pending",
		"bg-gray-700": status === "draft",
	}}
	class="flex h-10 w-28 items-center justify-start rounded-md bg-opacity-20 pl-4"
>
	<Dot
		className={status === "paid"
			? "stroke-green-600 dark:stroke-green-400"
			: status === "pending"
			? "stroke-orange-600 dark:stroke-orange-400"
			: "stroke-gray-600 dark:stroke-gray-200"}
		strokeWidth={6}
	/>
	<p
		class:list={{
			"capitalize text-green-600 dark:text-green-400": status === "paid",
			"capitalize text-orange-600 dark:text-orange-400":
				status === "pending",
			"capitalize text-gray-600 dark:text-gray-200": status === "draft",
		}}
		class="text-md font-bold"
	>
		{status}
	</p>
</div>
