---
import InvoiceForm from "@/components/InvoiceForm";
import { Button } from "@/components/ui/button";
import EditLayout from "@/layouts/EditLayout.astro";
import { req } from "@/lib/utils";
import type { Invoice } from "@/types";

const { id } = Astro.params;

const res = await req(`/invoice/${id}`, {
	headers: {
		cookie: Astro.request.headers.get("cookie") || "",
	},
});

if (!res.ok) {
	if (res.status === 401) {
		return Astro.redirect("/login", 401);
	} else {
		return Astro.redirect("/404", 404);
	}
}

const invoice: Invoice = await res.json();

export const prerender = false;
---

<EditLayout id={id!}>
	<InvoiceForm invoice={invoice} client:only="react" />
	<footer
		class="sticky bottom-0 hidden items-center justify-between rounded-sm bg-background p-4 xl:flex"
	>
		<Button
			id="cancel-edit-button"
			className="p-6 font-bold"
			variant="destructive"
		>
			Cancel
		</Button>
		<Button type="submit" form="invoice-form" className="p-6 font-bold">
			Save Changes
		</Button>
	</footer>
</EditLayout>
