---
import { Button } from "@/components/ui/button";
import { Plus } from "lucide-react";
import illustrationEmpty from "@/assets/img/illustration-empty.svg";
import Metadata from "@/layouts/Metadata.astro";
import Filter from "@/components/Filter";

type Props = {
	invoiceCount: number;
};

const { invoiceCount } = Astro.props;
---

<Metadata>
	<main class="flex flex-col gap-5 overflow-hidden pt-5">
		<div
			transition:persist
			class="inner-nav mx-auto flex w-full max-w-3xl items-center justify-between px-5 lg:px-0"
		>
			<span>
				<h1>Invoices</h1>
				<p class="md:hidden">
					{invoiceCount ? `${invoiceCount} invoices` : "No invoices"}
				</p>
				<p class="hidden md:block">
					{
						invoiceCount
							? `There are ${invoiceCount} total invoices`
							: "No invoices"
					}
				</p>
			</span>
			<div class="flex h-fit items-center overflow-y-auto">
				<Filter client:only="react" />
				<a rel="prefetch" href="/new/">
					<Button className="p-2 pr-5 py-6 text-md font-bold">
						<div class="mr-2 rounded-full bg-white p-2">
							<Plus
								className="stroke-primary"
								strokeWidth={5}
								size={15}
							/>
						</div>
						<span class="md:hidden">New</span>
						<span class="hidden md:block">New Invoice</span>
					</Button>
				</a>
			</div>
		</div>
		<div
			transition:animate="slide"
			class="flex grow flex-col items-center gap-3 overflow-y-auto px-5 pb-5"
		>
			<div class="flex w-full max-w-3xl grow flex-col gap-3">
				<slot>
					<div class="m-auto flex flex-col gap-10">
						<img
							class="mx-auto"
							src={illustrationEmpty.src}
							alt="empty invoice image"
						/>
						<div class="px-10 text-center">
							<h2 class="mb-3">There is nothing here</h2>
							<p class="px-10">
								Create an invoice by clicking the <strong
									>New</strong
								> button and get started
							</p>
						</div>
					</div>
				</slot>
			</div>
		</div>
	</main>
</Metadata>
