---
import { ChevronLeft } from "lucide-react";
import Metadata from "@/layouts/Metadata.astro";
import { Button } from "@/components/ui/button";

type Props = {
	id: string;
};

const { id } = Astro.props;
---

<Metadata>
	<main
		transition:animate="slide"
		class="flex flex-col gap-5 overflow-hidden pt-5"
	>
		<div
			class="mx-auto flex w-full max-w-3xl flex-col items-start px-5 md:px-0"
		>
			<a rel="prefetch" href="javascript:history.back()" class="-ml-2">
				<span class="flex py-5 pr-5">
					<ChevronLeft className="stroke-primary pb-1" />
					 Go back
				</span>
			</a>
			<h2>
				Edit <span class="text-gray-400">#</span>
				{id}
			</h2>
		</div>
		<div class="mb-5 flex grow justify-center overflow-y-auto px-5">
			<div class="flex max-w-3xl grow flex-col gap-3">
				<slot />
			</div>
		</div>
	</main>
	<footer
		class="flex items-center justify-between bg-background p-4 xl:hidden"
	>
		<a href="javascript:history.back()">
			<Button
				id="cancel-edit-btn"
				className="p-6 font-bold"
				variant="destructive"
			>
				Cancel
			</Button>
		</a>
		<Button type="submit" form="invoice-form" className="p-6 font-bold">
			Save Changes
		</Button>
	</footer>
</Metadata>
