---
import "@/assets/global.css";
import Nav from "@/components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/ui/toaster";

type Props = {
	isRedirect?: boolean;
};

const { isRedirect } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{isRedirect ? "Redirecting" : "Invoice App"}</title>
		<ViewTransitions />
	</head>
	<body class="dark grid h-full w-full grid-cols-1 overflow-hidden xl:flex">
		{
			!isRedirect && (
				<header class="w-full xl:h-full xl:w-fit">
					<Nav transition:persist />
				</header>
			)
		}
		<slot />
		<Toaster transition:persist client:only="react" />
	</body>
</html>
